.header {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.route {
    font-size: 20px;
}

.buttonContainer {
    text-align: right;
}

.textContainer {
    text-align: left;
    padding-bottom: 15px;
}

.link {
    color: black;
    text-decoration: none;
}