.buttonContainer {
    text-align: right;
}

.textContainer {
    text-align: left;
    padding-bottom: 15px;
}

.todoInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.todoInfo p {
    margin: 0;
    max-height: 100px;
    overflow: scroll;
}

.todoTitle {
    font-weight: 600;
}

.icon {
    font-size: 20px;
    margin: 0;
}

.buttons {
    display: flex;
    margin: 0 10px;
}

.button {
    padding: 4px 8px;
    margin: 5px;
}