.buttonContainer {
    text-align: right;
}

.textContainer {
    text-align: left;
    padding-bottom: 15px;
}

.todoInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 75%;
}

.cardDescription {
    max-width: 100%;
    overflow-y: auto;
}

.todoInfo p {
    margin: 5px;
    max-height: 100px;
}

.cardDescription {
    overflow-y: scroll;
}

.todoTitle {
    font-weight: 600;
}

.icon {
    font-size: 20px;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 5px;
}

.button {
    padding: 4px 8px;
    margin: 2px;
}

@media screen and (min-width: 576px) {
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 5px;
    }

    .button {
        padding: 4px 8px;
        margin: 5px;
    }

}