* {
    font-family: 'Roboto', sans-serif;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.navBar a {
    text-decoration: none;
}

.container {
    width: 80vw;
    padding: 50px 0;
    margin: auto;
}

.title {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.textContainer {
    text-align: left;
    padding-bottom: 15px;
}

.button {
    width: 100%;
    margin: 5px 0;
}



@media screen and (min-width: 576px) {
    .container {
        width: 40vw;
        padding: 50px 0;
        margin: auto;
    }
}